.article-content {
	background-color: white;
	margin: 30px 350px;
	width: 35%;
	border-radius: 14px;
	padding: 50px 40px;
	min-height: 500px;
}

.article-content .article-title h1 {
	font-size: 20px;
	margin: 20px 0px; 
}

.article-content .article-item {
	margin: 20px 0px;
	width: 100%;
	height: 120px;
	border-bottom: 1px #EEE0E5 solid;
}

.article-content tbody tr {
	float: left;
	position: relative;
}
.article-content tbody tr td {
	float: left;
	position: absolute;
}
.article-content tr .article-name {
	top: 20px;
	left: 35px;
	font-size: 16px;
	font-weight: 600;
}
.article-content tr .article-text {
	font-size: 12px;
	top: 55px;
	left: 35px;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp: 1;
}
.article-content tr .article-id {
	bottom: 14px;
	left: 35px;
	font-size: 12px;
}
.article-content tr .article-time {
	bottom: 14px;
	right: 60px;
	font-size: 12px;
}



.article-info {
	background: white url('../images/article-info.jpg') no-repeat center;
	background-size: 315px;
	width: 21%;
	height: 600px;
	border-radius: 14px;
	/*padding: 30px 40px;*/
	position: absolute;
	top: 83px;
	right: 315px;
}



.article-item-content {
	background-color: white;
	margin: 30px 360px;
	width: 50%;
	border-radius: 14px;
	padding: 60px 40px;
}
.article-item-content .article-title h1 {
	font-size: 20px;
	margin: 0px 0px; 
}
.article-item-content .article-title h3 {
	font-size: 20px;
	margin: 30px 0px; 
	/*margin-bottom: 0px;*/
	font-weight: 600;

}
.article-item-content-text {
	margin: 20px 0px;
	white-space: pre-wrap;
	line-height: 24px;
}
.article-item-info div {
	margin-top: 30px;
	float: left;
	margin-right: 16px;
}



.article-item-content .question-item {
	margin: 30px 0px;
	font-size: 16px;
}


.questionnaire-submit-btn {
	/* 文字颜色 */
	color: #0099CC; 
	/* 清除背景色 */
	background: transparent; 
	/* 边框样式、颜色、宽度 */
	border: 2px solid #0099CC;
	/* 给边框添加圆角 */
	border-radius: 6px; 
	/* 字母转大写 */
	border: none;
	color: white;
	padding: 10px 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	margin: 10px auto;
}
.questionnaire-submit-btn {
	background-color: white; 
	color: black; 
	border: 2px solid #E799B0;
}
/* 悬停样式 */
.questionnaire-submit-btn:hover {
	background-color: #E799B0;
	color: white;
}

.questionnaire-text {
	line-height: 24px;
}


.article-content .consultant-item {
	width: 100%;
	height: 100px;
	margin: 10px 0px;
	/*background-color: pink;*/
    border-bottom: 1px #EEE0E5 solid;
}
.article-content .consultant-item .consultant-head {
    top: 16px;
    left: 15px;    
}
.article-content .consultant-item .consultant-head img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}
.article-content .consultant-item .consultant-name {
	top: 20px;
	left: 100px;
	font-size: 18px;
    font-weight: 700;
    color: #21252d;
}
.article-content .consultant-item .consultant-sex {
	top: 24px;
	left: 177px;
}
.article-content .consultant-item .consultant-location {
	top: 24px;
	left: 230px;
	width: 220px;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.article-content .consultant-item .consultant-grade {
	top: 55px;
	left: 100px;
}
.article-content .consultant-item .consultant-btn {
	top: 30%;
	right: 30px;
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #E799B0;
    border-radius: 8px;
    /*margin: 0 30%;
    margin-top: 28px;*/
    color: #fff;
    font-size: 14px;
}
.article-content .consultant-item .consultant-btn a {
    color: #fff!important;    
}




.consultant-item-content {
	background-color: white;
	margin: 30px 360px;
	width: 56%;
	min-height: 600px;
	border-radius: 14px;
	padding-bottom: 1px;
}
.consultant-item-content .consultant-title {
	position: relative;
	width: 100%;
	height: 200px;
}
.consultant-item-content .consultant-title h1 {
	font-size: 20px;
	margin: 0px 0px; 	
}
.consultant-item-content .consultant-title h3 {
	font-size: 20px;
	/*margin: 30px 0px; */
	font-weight: 600;
	position: absolute;
	/*z-index: 99;*/
	top: 40px;
	left: 228px;
	color: white;
    font-size: 32px;
}
.consultant-item-content .consultant-title .bg {
    width: 100%;
    height: 88px;
    overflow: hidden;
    border-radius: 14px 14px 0 0;
   	position: absolute;
   	float: left;
}
.consultant-item-content .consultant-title .bg img {
    width: 120%;
    height: 120%;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    object-fit: cover;
    object-position: -15px -20px;
}
.consultant-item-content .consultant-title .head img {
    position: absolute;
    width: 120px;
    height: 120px;   
    border-radius: 6px;
    border: 3px solid rgba(255,255,255,.3);	
    top: 24px;
    left: 80px;
}
.consultant-item-content .consultant-title .motto {
	position: absolute;
    top: 110px;
    left: 235px;
    font-size: 14px;
    color: #333;
}

.consultant-item-content .consultant-item-info .info-intro {
    width: 80%;
    margin-left: 9%;
    margin-bottom: 50px;
}
.consultant-item-content .consultant-item-info .info-article {
    width: 80%;
    margin-left: 9%;
    margin-bottom: 50px;
}
.consultant-item-content .consultant-item-info .info-process {
    width: 80%;
    margin-left: 9%;
    margin-bottom: 50px;
}
.consultant-item-content .consultant-item-info h3 {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 2px solid #E799B0;
}
.consultant-item-content .consultant-item-info h3 span {
    display: inline-block;
    position: relative;
    top: -3px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #E799B0;
    border-radius: 50%;
}
.consultant-item-content .consultant-item-info .info-intro-item h4 {
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-top: 16px;
    margin-left: 20px;
}
.consultant-item-content .consultant-item-info .info-intro-item p {
    margin-top: 10px;
    margin-left: 40px;
    color: #666;
}
.consultant-item-content .consultant-item-info .info-article .info-article-message {
    color: #666;
    margin: 40px auto;
    text-align: center;
    font-size: 16px;
}
.consultant-item-content .consultant-item-info .info-process .info-process-detail {
    color: #666;
    margin: 40px auto;
    text-align: center;
    font-size: 18px;
}

.consultant-item-content .consultant-item-info .order-btn {
    width: 150px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #E799B0;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    bottom: 20px;
    left: 30%;
    margin: 70px auto;
    font-weight: 700;
}
.consultant-item-content .consultant-item-info .order-btn a {
    color: #fff!important;        
}




.pay-content {
	min-height: 508px;
}
.pay-content .pay-detail {
    width: 80%;
    margin-left: 9%;
    margin-top: 40px;
    margin-bottom: 50px;
   	float: left;
}
.pay-content .pay-detail .pay-detail-item p {
    font-size: 18px;
    margin: 40px 40px;
    padding-right: 10px
}
.pay-content .pay-detail .pay-detail-item p span {
    float: right;
    /*margin-right: 20px;*/
}
.pay-content .pay-detail h3 {
    font-size: 22px;
    color: #000;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 2px solid #E799B0;
}
.pay-content .pay-detail .pay-cost {
 	float: right;
 	font-size: 18px;
	width: 100%;
	text-align: right;
	padding-top: 10px;
	padding-right: 50px;
	overflow: hidden;
}
.pay-content .pay-btn {
	float: left;
    width: 120px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #E799B0;
    border-radius: 8px;
    margin: 0 42%;
    color: #fff;
    font-size: 16px;
    font-weight: 600;

}
.pay-content .pay-btn a {
    color: #fff!important;        
}




