@charset "utf-8";
.container {/*
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;*/
}
.container-white {
    background-color: #fff;
    margin: 30px auto;
    padding: 25px 20px;
    border-radius: 10px;

}
.container-gray {
    background-color: #f3f4f5;
    margin: 30px auto;
    padding: 25px 20px;
    border-radius: 10px;
}
.main-title .psy-answer {
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #E799B0;
    line-height: 28px;
    margin-right: 14px;
}
.main-title .sub-title {
    font-size: 14px;
    color: #999;
    line-height: 18px;
}
.content-read {
	/*background-color: pink;*/
	/*height: 200px;*/
	margin-top: 25px;
}
.content-test {
	/*background-color: pink;*/
	/*height: 200px;*/
	margin-top: 25px;
}

.content-consult {
	background-color: pink;
	height: 200px;
	margin-top: 25px;
}

.content-skanswer {
	background-color: pink;
	height: 200px;
	margin-top: 25px;
}


.content-read tr {
    float: left;
    position: relative;
}
.content-read tr td {
    float: left;
    position: absolute;
}
.content-read .article-item {
    background-color: #f9f9fa;
    width: 400px;
    height: 70px;
    margin: 10px 70px;
    padding: 12px 12px;
}
.content-read .article-item .article-name {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}
.content-read .article-item .article-time {
    bottom: 10px;
    right: 12px;
}


.content-test tr {
    float: left;
    position: relative;
}
.content-test tr td {
    float: left;
    position: absolute;
}
.content-test .questionnaire-item {
    background-color: #f9f9fa;
    width: 329px;
    height: 90px;
    margin: 10px 15px;
    padding: 12px 12px;
}
.content-test .questionnaire-item .questionnaire-name {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}
.content-test .questionnaire-item .questionnaire-intro {
    font-size: 12px;
    top: 50px;
    left: 20px;
    color: #333;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 1;
}
.content-test .questionnaire-item .questionnaire-time {
    bottom: 10px;
    right: 12px;
 } 