.questionnaire-result {
	background-color: white;
	margin: 30px 380px;
	width: 43%;
	border-radius: 14px;
	padding: 50px 100px;
	min-height: 409px;
}
.questionnaire-result-score {
	/*background-color: pink;*/
	min-width: 200px;
	min-height: 200px;
}
.questionnaire-result-score img {
	float: left;
	margin-left: 110px;
	margin-right: 30px;
}
.questionnaire-result-score p {
	float: left;
	line-height: 200px;
	font-size: 20px;
	font-weight: 700;
	color: #E799B0;
}
.question-result-text {
	/*background-color: pink;*/
	margin: 30px 0px;
	line-height: 24px;
}

.questionnaire-result-number p {
	font-size: 16px;
	color: #777;
}
.questionnaire-result-number p span {
	color: #FFA421;
	float: right;
	font-size: 18px;
	font-weight: 600;
}
.questionnaire-result-number .p-img {
	text-align: center;
}
.questionnaire-result-number img {
	width: 250px;
	height: 250px;
	margin: 40px auto;
}


.questionnaire-result .pay-btn {
	float: left;
    width: 120px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #E799B0;
    border-radius: 8px;
    margin: 0 39%;
}
.questionnaire-result .pay-btn button {
	color: #fff!important;
	margin: 0;
	padding: 0;
	outline: none;
	border-radius: 0;
	background-color: transparent;
	line-height: inherit;
	width: max-content;
	border: none;
    font-size: 16px;
    font-weight: 600;
   	cursor: pointer;
}
.questionnaire-result .pay-btn button:after {
	border: none;
}

